@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron#index {

  background: url('jumbotron_image.jpeg') center no-repeat;
  color: orange;
  text-align: center;
  text-shadow: 1px 1px black;
}
.jumbotron#show {
	background: url('jumbotron.jpg') center no-repeat;

}