%p#notice= notice

.jumbotron
  %h1 Micke Mäklare
  %h2 Välkommen in!
  %h3 Ni kanske hittar ert nästa hus här.
  %br
  %br

.container{style:'padding: 0px; margin: 0px'}
  %h1{style: 'text-align:center'}
    = params[:category]

  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Välj kommun
          %span.caret
            %ul.dropdown-menu
              - Category.all.each do |category|
                %li
                  = link_to category.name, products_path(category: category.name)

  = render 'houses'    