%nav.navbar.navbar-default{style:'width: 100%; top: 0px; position: fixed; z-index: 10; 									background: #d9edf7; border-radius: 0px; border: 0px; margin: 0px; background-image: -webkit-linear-gradient(top, #d9edf7);'}
	.container-fluid
		.navbar-header
			%button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand{href: root_path, style:'color: lightblue;  text-shadow: 1px 1px grey;  text-transform: uppercase; font-weight: 600; font-size: 2rem;'} Hem