%nav.navbar.navbar-default{style:'width: 100%; top: 0px; position: fixed; z-index: 10; 									background: darkorange; border-radius: 0px; border: 0px; margin: 0px;'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path, style:'color: white; text-shadow: 1px 1px black;'} Hem
